.Pentagon {
  height: 300px;
  width: 300px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.pentagon-tools {
  /* backgroundImage: url(${pentagon}); */
  background-size: cover;
  height: 220px;
  width: 230px;
}

.single-item {
  /* TODO: border gradient
          // borderColor: `linear-gradient(to bottom,${t.color1},${t.color2}) `, */
  /*? background-color: white; */

  position: relative;
  cursor: pointer;

  border-width: 0.7rem;
  border-style: solid;

  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.rock {
  top: -2.5rem;
  left: 4.5rem;
}

.paper {
  top: -3rem;
  right: -11rem;
}

.scissors {
  top: -1.2rem;
}

.lizard {
  top: -7rem;
  left: 8rem;
}

.spock {
  bottom: 20.5rem;
  left: -2.2rem;
}
